﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Press Box Media</h1>
    <p class="lead">Press Box Media is the site that you can ....</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Sign up now to release information to a wide range of media outlets  and ....
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Pricing Plans</h2>
        <p>So many options dude!!!!.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>If you write about the Flyers</h2>
        <p>Just go to the worst sports organization website located below</p>
        <p><a class="btn btn-default" href="http://flyers.nhl.com">Good Luck &raquo;</a></p>
    </div>
</div>